@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?sx9d77');
  src:  url('fonts/icomoon.eot?sx9d77#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sx9d77') format('truetype'),
    url('fonts/icomoon.woff?sx9d77') format('woff'),
    url('fonts/icomoon.svg?sx9d77#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e93a";
}
.icon-phone:before {
  content: "\e942";
}
.icon-user:before {
  content: "\e971";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
